*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 80%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

::-webkit-scrollbar {
    width: 0.50rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 1.0rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(192, 185, 185); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e0dada; 
  }



.container{
    background-color: rgb(37, 35, 35);
    width: 100vw;
    /*padding: 1.0rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
#inp1{
    width: 30.0rem;
    height: 2.0rem;
    font-size: 1.0rem;
    padding-left: 1.0rem;
    outline: none;
    margin-top: 1.0rem;
}
#inp2{
    width: 30.0rem;
    height: 5.0rem;
    font-size: 1.0rem;
    padding-left: 1.0rem;
    outline: none;
    margin-top: 1.0rem;
}
#btn{
    width: 10.0rem;
    height: 3.0rem;
    background-color: rgb(192, 136, 32);
    font-size: 1.40rem;
    outline: none;
    margin-top: 1.0rem;
    border: none;
    border-radius: 0.30rem;
}
#btn:hover{
    background-color: rgb(176, 185, 50);

}
#notesarea{
    padding-left: 10.0rem;
}
.fullElement{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 20.0rem;
    height: 20.0rem;
    font-size: 1.80rem;
    border: none;
    border: 0.10rem solid gray;
    margin-left: 1.0rem;
    margin-top: 3.0rem;
    margin-bottom: -2.0rem;
    border-radius: 1.0rem;
    cursor:zoom-in;
    overflow: hidden;
}
.notes{
    margin-top: 3.0rem;
    /* padding: 1.0rem; */
    height: 15.0rem;
}
.showfullData{
    overflow-y: scroll;
    position: absolute;
    background-color: black;
    color: white;
    left: 50%;
    top: 42%;
    transform: translate(-50%,-50%);
    width: 38.0rem;
    height: 46.0rem;
    transition: all 0.30s;
    border: 0.30rem solid green;
    padding-top: 2.0rem;
    border-radius: 1.0rem;
    scrollbar-track-color: aliceblue;
    scrollbar-track-color: #8a2525;
}
p{
    margin-top: 1.50rem;
    margin-left: 3.0rem;
    margin-right: 3.0rem;
    text-align: left;
    font-size: 1.70rem;
}
.icon{
    background-color: rgb(192, 136, 32);
    width: 20.10rem;
    border-top-left-radius: 1.0rem;
    border-top-right-radius: 1.0rem;  
    cursor: auto;
    display: inline-flex;
    align-items: center;
    justify-content:flex-end;
}
.fa-times-circle{
    margin-right: 1.0rem;
    margin-left: 1.0rem;
    cursor: pointer;
}
.fa-times-circle:hover{
    color: red;
}
.fa-file-edit{
    cursor: pointer;
}
#editnote{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #eeeff1;
    width: 40.0rem;
    height: 45.0rem;
    display: none;
    padding: 2.0rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.editform{
    flex-direction: column;
    display: flex;
    align-items: center;
    transition: all 1s ease-in-out;
}
#editnoteClose{
    display: inline-flex;
    float: right;
    font-size: 2.0rem;
}
#tital{
    width: 20.0rem;
    height: 3.0rem;
    margin-bottom: 0.80rem;
    margin-top: 1.0rem;
}
#txtarea{
    height: 35.0rem;
    width: 40.0rem;
    overflow-y: scroll;

}
#DT{
    padding: 0.60rem 5.0rem;
    margin-top: 0.50rem;
    font-size: 1.60rem;
    outline: none;
    border: none;
    background-color: rgb(125, 168, 60);
}
#NoteYour{
    width: 70.0rem;
    padding-left: 20.0rem;
    padding-top: 2.0rem;
    margin-top: -4.0rem;
    /* margin-bottom: -5.0rem; */
}
#search{
    padding-left: 44.0rem;
    margin-top: 1.0rem;
}
#search input{
    width: 17.0rem;
    height: 1.70rem;
    padding-left: 1.0rem;
    outline: none;
    
}
.fa-search{
    background-color: black;
    color: white;
    padding: 0.50rem 1.50rem 0.50rem 1.50rem;
    border-radius: 1.0rem;
}
.searchArea{
    display: inline-flex;
    justify-items: center;
    align-items: center;
}
#plusExpand{
    display: none;
}


#deleteAll{
    padding: 0.50rem 2.0rem 0.50rem 2.0rem;
    margin-left: 10.0rem;
    background-color: rgb(236, 112, 112);
    border-radius: 0.30rem rgb(236, 112, 112);
    outline: none;
    border: 0.20rem solid ;
}
#deleteAll:hover{
    background-color: rgb(236, 112, 112);
    border: 0.20rem solid rgb(211, 54, 54);
}
#emptyarea{
    display: none;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}
#emptyarea p{
    position: relative;
    margin-left: -14.50rem;
    margin-top: 3.0rem;
}
#emptyarea h1{
    margin-left: 0.60rem;
}
#emptyarea .fa-database{
    font-size: 6.0rem;
    /* font-size: 32px; */
    /* color: #9c47fc; */
    display: block;
    background: -webkit-linear-gradient(#8a2525, #577dc9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media(max-width: 375px){
    html{
        font-size: 50%;
    }
    /* ::-webkit-scrollbar {
        width: 5px;
      } */

    #notesarea{
        margin-left: -6.0rem;
        margin-top: 3.0rem;
    }
    .fullElement{
        margin-top: 5.0rem;
        width: 16.0rem;
        height: 20.0rem;        
    }
    .icon{
        width: 16.10rem;
    }
    #NoteYour{
        width: 40.0rem;
        margin-left: -18.0rem;
        margin-top: -1.0rem;

    }
    #search{
        display: none;
        padding-left: 49.0rem;
        place-items: center;
    }
    #search input{
        width: 10.0rem;
        height: 1.70rem;
        padding-left: 1.0rem;
        outline: none;
        font-size: 1.30rem;
        border: none;
        border: 0.10rem solid black;
        border-radius: 0.10rem;
    }
    .searchArea{
        position: absolute;
        top: 20%;
        left: -90%;
    }
    .fa-search{
        background-color: black;
        color: white;
        /* padding: 0.50rem 1.50rem 0.50rem 1.50rem; */
        border-radius: 1.0rem;
    }
    #plusExpand{
        display: block;
        position:absolute;
        left: 84%;
        top: 21%;
        font-size: 3.0rem;
        /* transition: all 2s; */
    }
    .fa-search{
        margin-left: 0.40rem;
        padding: 0.50rem 1.50rem 0.50rem 1.50rem;
    }
    #deleteAll{
        font-size: 1.30rem;
        padding: 0.45rem 1.90rem 0.45rem 1.90rem;
        margin-left: 1.0rem;
        outline: none;
        border-radius: 0.30rem ;
    }
    #emptyarea p{
        position: relative;
        margin-left: -12.50rem;
        margin-top: 3.0rem;
    }
    #editnote{
        /* position: absolute; */
        top: 55%;
        /* left: 50%; */
        /* transform: translate(-50%,-50%); */
        background-color: #eeeff1;
        width: 40.0rem;
        height: 45.0rem;
        display: none;
        padding: 2.0rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }
    .showfullData{
        left: 50%;
        top: 45%;
        width: 43.0rem;
        height: 80.0rem;
        padding-top: 2.0rem;
    }
    p{
        margin-top: 1.50rem;
        margin-left: 3.0rem;
        margin-right: 1.0rem;
    }
}

@media(max-height: 385px){
    .searchArea{
        position: absolute;
        top: 36%;
        left: -90%;
    }
    #plusExpand{
        top: 37.80%;
    }
}